link(href='/components/HUD/object/object.css' rel='stylesheet' )
  
script(src='/components/HUD/object/object.js')

.objectContainer
  .selectYourObject
    if dimension.ownerChooseObjects
      .objectPreview
        img.objectPreviewSrc(src=dimension.objects[0].src)
      .objectPreviewKey=dimension.objects[0].key
    else
      .avatarPreview
        img.avatarPreviewSrc(src=currentUser.objects[0].src)
      .avatarPreviewKey=currentUser.objects[0].key
    if dimension.ownerChooseObjects
      if currentUser.id == dimension.owner
        .uploadObject
          input.uploadObjectInput(placeholder='Link to Image you are Uploading')
          input.uploadObjectKey(placeholder='Name for your Image')
          .uploadObjectBtn(onClick = "uploadObjectToDimension()") Upload
    else 
      .uploadObject
        input.uploadObjectInput(placeholder='Link to Image you are Uploading')
        input.uploadObjectKey(placeholder='Name for your Image')
        .uploadObjectBtn(onClick = "uploadObjectToUser()") Upload
    .availableObjects
      if dimension.ownerChooseObjects
        each object, i in dimension.objects
          if i==0
            .objectSelected
              img.objectSrc(src=object.src)
              p(hidden).objectKey=object.key
          else
            .objectSelection
              img.objectSrc(src=object.src)
              p(hidden).objectKey=object.key
      else
        each object, i in currentUser.objects
          if i==0
            .objectSelected
              img.objectSrc(src=object.src)
              p(hidden).objectKey=object.key
          else
            .objectSelection
              img.objectSrc(src=object.src)
              p(hidden).objectKey=object.key
    .objectBtns
      .selectObjectBtn Select Object
        .selectObjectBtnText Press *space* to Drop Object
