link(href='/components/HUD/avatar/avatar.css' rel='stylesheet' )
  
script(src='/components/HUD/avatar/avatar.js')

.avatarContainer
  .selectYourAvatar
    if dimension.ownerChooseAvatars && dimension.avatars[0]
      .avatarPreview
        img.avatarPreviewSrc(src=dimension.avatars[0].src)
      .avatarPreviewKey=dimension.avatars[0].key
    else
      .avatarPreview
        img.avatarPreviewSrc(src=currentUser.avatars[0].src)
      .avatarPreviewKey=currentUser.avatars[0].key
    if dimension.ownerChooseAvatars
      if currentUser.id == dimension.owner
        .uploadAvatar
          input.uploadAvatarInput(placeholder='Link to Image you are Uploading')
          input.uploadAvatarKey(placeholder='Name for your Image')
          .uploadAvatarBtn(onClick = "uploadAvatarToDimension()") Upload
    else
      .uploadAvatar
        input.uploadAvatarInput(placeholder='Link to Image you are Uploading')
        input.uploadAvatarKey(placeholder='Name for your Image')
        .uploadAvatarBtn(onClick = "uploadAvatarToUser()") Upload
      .availableAvatars
        if dimension.ownerChooseAvatars
          each avatar, i in dimension.avatars
            if i==0
              .avatarSelected
                img.avatarSrc(src=avatar.src)
                p(hidden).avatarKey=avatar.key
            else
              .avatarSelection
                img.avatarSrc(src=avatar.src)
                p(hidden).avatarKey=avatar.key
        else
          each avatar, i in currentUser.avatars
            if i==0
              .avatarSelected
                img.avatarSrc(src=avatar.src)
                p(hidden).avatarKey=avatar.key
            else
              .avatarSelection
                img.avatarSrc(src=avatar.src)
                p(hidden).avatarKey=avatar.key
    .avatarBtns
      .selectYourAvatarBtn Select Avatar
