//Socket.io
script(src='/imports/socket.io.min.js')
//Jquery
script(src='/imports/jquery-3.3.1.min.js')
//Jquery-UI
link(rel='stylesheet' href='/imports/jquery-ui.min.css')
script(src='/imports/jquery-ui.min.js')
//Jquery-UI-touch-punch
script(src='/imports/jquery.ui.touch-punch.min.js')
//FlexBox
link(href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', rel='stylesheet')
//Spectrum
link(rel='stylesheet' href='/imports/spectrum.css')
script(src='/imports/spectrum.js')
//Quill
link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
script(src='https://cdn.quilljs.com/1.3.6/quill.js')
//Axios 
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
//Main.css
link(rel='stylesheet' href='/components/main.css')
//Main.js
script(src='/components/main.js')

meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')


//USER INFO
if(currentUser)
  p#currentUserId(hidden)=currentUser.id
  p#currentUserName(hidden)=currentUser.username
  
//DIMENSION INFO 
p#dimensionName(hidden)=dimension.name
p#dimensionBackgroundSrc(hidden)=dimension.background.src

//RENDER INFO
#doorRender(hidden)=doorRender
  
//Environment
include dimension/dimension
//-   
//- //Background
//- include dimension/background/background

//HUD
if !doorRender
  include HUD/HUD
